@model WebLearn.Models.Courses

@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_IndexLayout.cshtml";
}
<div class="container">
    <div style="height:320px;width:100%;">
        <div style="height:100%;background-color:red;border-radius:15px;">
            <div style="height:78%">

            </div>
            <courseTitle style="width:fit-content" style="position:relative;">COURSE NAME</courseTitle>
        </div>
    </div>
    <courseDue id="UpdateSection">
        <cdInner>
            <h3 style="text-align:center;padding:10px;border-width: 0px;border-bottom:1px; border-style: solid;border-color: rgb(212, 212, 212)">UPCOMING</h3>
            <span>
                <p class="flexitem2">Assignment Name</p>
                <p class="flexitem2">Due Date</p>
            </span>
        </cdInner>
    </courseDue>
    <courseList id="AssignmentSection">

    </courseList>
</div>