html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.HamburgerMenu {
    height: 32px;
    margin-left: 10px;
}

course {
    flex: 0 1 17.89%;
    height: 250px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px
}

courseTitle {
  font-size: 50px;
  color: white;
  margin-left: 10px;
  display:flex;
  position: relative;
  justify-content:flex-start
}

.createButton {
    display: flex;
    height:71px;
    position: relative;
    transition: none;
    box-shadow: none;
    justify-content: flex-end;
}

courseDue {
  display: block;
  width:33%;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

courseDue span {
  display:block;
  position:relative;
  border-width: 1px;
  border-color: rgb(238, 238, 238);
  border-style: solid;
  border-radius: 15px;
}

cdInner {
  display: block;
  text-decoration: none;
  color:black;
}

cdInner div {
  margin-left:5px;
  margin-right:5px;
  text-align: center;
  display:flex;
  flex-direction: row;
}

.flexitem2 {
  width:50%;
  margin-top:15px;
  margin-bottom:15px;
  text-overflow: ellipsis;
}

courseList {
    width: 67%;
    margin-left:15px;
    display:block;
    position:relative;
}

AssignmentContainer {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 15px;
}

ACInner {
    margin:5px;

}

.AssignmentItemName {
    display:flex;
    flex-direction:row;

}

